<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <p th:text="${'실습 수행: ' + #temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm:ss') + ' | 학번: 2171403 | 성명: 김관중'}"></p>
</head>
<body>
<h1>카테고리 등록</h1>

<form th:action="@{/categories/create}" th:object="${categoryForm}" method="post">
    <div>
        <label>카테고리 이름</label>
        <input type="text" th:field="*{name}" placeholder="카테고리 이름"/>
        <span th:errors="*{name}" style="color:red;"></span>
    </div>
    <div>
        <button type="submit">등록</button>
    </div>
</form>

<p>
    <a th:href="@{/categories}">목록으로 돌아가기</a>
</p>

<hr>
</body>
</html>